<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form th:action="createEmpleado" th:object="${empleado}" th:method="post">
    <p>Nombre: <input type="text" th:field="*{nombre}" name="nombre"/></p>
    <p>Apellido: <input type="text" th:field="*{apellido}" name="apellido"/></p>
    <p>Departamento:
        <select name="departamentos" id="departamento" th:field="*{idDepartamento}">
            <option value="0">Selecciona un departamento</option>
            <option th:each="departamento : ${lista}" th:value="${departamento.idDepartamento}" th:text="${departamento.nombre}"></option>
        </select>
    </p>

    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset"/></p>
</form>
<br/> <h1 th:text="${message}">message</h1>
</body>
</html>