<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/templatemo-topic-listing.css}"/>
</head>
<body>

<div id="sticky-wrapper" class="sticky-wrapper" style="height: 78px;">
    <nav class="navbar navbar-expand-lg" style="width: 1849px;">
        <div class="container">
            <ul class="navbar-nav ms-lg-5 me-lg-auto">
                <li class="navitem"><a href="/" class="nav-link click-scroll active"></a></li>
            </ul>
            <ul class="navbar-nav ms-lg-5 me-lg-auto">
                <li class="navitem"><a href="/" class="nav-link click-scroll inactive">Inicio</a></li>
            </ul>

            <ul class="navbar-nav ms-lg-5 me-lg-auto">
                <li class="navitem"><a href="/empleado" class="nav-link click-scroll inactive">Empleado</a></li>
            </ul>
            <ul class="navbar-nav ms-lg-5 me-lg-auto">
                <li class="navitem"><a href="/departamento" class="nav-link click-scroll inactive">Departamento</a>
                </li>
            </ul>
        </div>
</div>

<section class="hero-section">
    <div class="containerParent" style="">
        <div class="center">
            <h3 class="text-white">Listar Empleados</h3>
            <form class="custom-form" th:action="listadoEmpleados" th:object="${empleado}" th:method="post">
                <p class="text-white">Departamento:
                    <select name="departamentos" id="departamento" th:field="*{idDepartamento}">
                        <option th:each="departamento : ${lista}" th:value="${departamento.idDepartamento}"
                                th:text="${departamento.nombre}"></option>
                    </select>
                </p>
                <input class="custom-btn" type="submit" value="Listar"/>
                <input class="custom-btn" type="reset" value="Borrar"/>
            </form>
        </div>
    </div>
</section>

</body>
</html>